@import "variables.less";

.tooltip-inner { background-color: @tooltipColour; }
.tooltip.top .tooltip-arrow { border-top-color: @tooltipColour; }

.desaturate { 
    &:hover { filter: none; -webkit-filter: grayscale(0); }
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fade {
    opacity:@fadeOpacity;
    filter:alpha(opacity=@fadeOpacityIE); /* For IE8 and earlier */
    &:hover { filter: none; opacity:1.0; }
}

html, body { background-color: @backgroundColour; }
body {
    .banner {
        h1 { font-size: 64px; text-align: center; font-family: 'Montserrat Subrayada', sans-serif; position: absolute; bottom: 45px; left: 15px; }
        h2 { font-size: 31px; line-height: 30px; position: absolute; bottom: 2px; left: 15px; }
        background-color: @backgroundColour;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/img/bannerbg.jpg');
        background-position: left bottom;
        border-radius: 5px;
        position: relative;
        width: 80%;
        height: 500px;
        border: 1px solid @backgroundColour;
        margin-left: auto;
        margin-right: auto;
        .banner-base {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
            background-image: -webkit-gradient(linear, center bottom, center top, from(@backgroundColour), to(transparent));
        }
        .nav-bar {
            &.stick { position: fixed; top: 0; z-index: 10000; width: 80%; }
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 120px;
            .banner-text { color: @bannerTextColour; }
            .social-icons {
                img { width: 32px; height: 32px; }
                position: absolute;
                width: 325px;
                right: 20px;
                bottom: 42px;
            }
        }
    }
}

.window:nth-child(2) .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -160px;
}


.window {
  width: 100%;
  height: 100%;
  position: absolute;
}

.window:nth-child(1) {
  background: black;
  top: 0%;
}

.window:nth-child(2) {
  background: #1babb7;
  top: 100%;
}

.window:nth-child(3) {
  background: #333a3e;
  top: 200%;
}

.window:nth-child(4) {
  background: #6ab29f;
  top: 300%;
}

.window:nth-child(5) {
  background: #d0482b;
  top: 400%;
}

.window:nth-child(6) {
  background: #231f20;
  top: 500%;
}